*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-fluid{
    background-color: #d3d3d3;
}

.slider{
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slider .img-fluid{
    transition: 0.2s;
}

.slider button{
    background-color: transparent;
    position: absolute;
    padding: 0px 8px;
    height: 100%;
    border: none;
    cursor: auto;
    z-index: 10;
    transition: 0.4s;
}

.slider button:nth-child(2){
    border-radius: 0px 13px 13px 0px;
    left: 0;
}

.slider button:nth-child(3){
    border-radius: 13px 0px 0px 13px;
    right: 0;
}

.slider button:hover{
background-color: rgba(0, 0, 0, 0.5);
}

.slider i {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s;
}

.slider i:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.fade-out{
    opacity: 0;
}